.card {
  display: inline-block;
  width: 300px;
  height: 400px;
  margin: 15px;
  padding: 20px;
  border: 1px solid #F6C4C3;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  background-image: linear-gradient(to left bottom, #eb8693, #f0a492, #efc2a0, #edddbd, #f3f5e1);
}

.card img {
  max-width: 100%;
  height: auto;
}

.card-body {
  text-align: center;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 0.005vh;
}

.card-text {
  font-size: 1rem;
}

.doctorname {
  font-weight: bold;
  font-family: bernard;
  font-size: 3vh;
}

.btn-primary {
  margin-top: 10px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: 0 -15px;
  /* Compensate for negative margins on columns */
  flex-wrap: wrap;
}

.gethelp-container {
  align-items: center;
  margin-top: 15vh;
  margin-left: 20vh;
  margin-right: 17vh;
 
  padding: 0%;
}

.box-style {
  background-image: #e6dffa;
}

.page-container {
  background-size: cover;
  background-position: center;
  position: relative;
  
  background: #FDE5E3;
  
}

.page-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: '#d3f0ec';
  
  /* Adjust opacity as needed */
}

.font-style {
  font-family: bernard;
  color: rgb(51, 8, 73);
  font-weight: bolder !important;
}

.doctor-image {
  border: 0.05vh solid black;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  margin-bottom: 1vh;
  height: 150px;
  width: 150px;
  object-fit: cover;
}