.test-container {
    padding-top: 5vh;
    width: 100%;
    
    background-color: #efa581;
}

.test-detail-section {
    display: flex;
    align-items: center;
    height: 85vh;
    background-color: #efa581;
}

.test-left {
    width: 50%;
    margin-right: 50px;
    margin-top: 20px;
    padding: 30px;
}

.test-right {
    width: 50%;
}

.test-cards {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0c2b3;
    padding-top: 3vh;
    padding-bottom: 3vh;
}